/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow-y: auto;
}

/* Sidebar Navigation Styles */
.sidebar {
    width: 18%;
    background: #579ae1;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 2px solid rgba(0, 0, 0, 0.072);
}

/* Sidebar Title */
.sidebar-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.sidebar-title .highlight {
    color: hsl(51, 100%, 50%);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    background: #ffffff33;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Logout Button */
#logoutBtn {
    width: 130px;
    height: 50px;
    background-color: #f74254;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#logoutBtn:hover {
    background-color: #b52b39;
}

/* Main content area */
.main-content {
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    padding-left: 23%;
}

.main-content h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

/* Card to display total claims */
.cards {
    display: flex;
}

.card {
    background: white;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Item in the card (claim counts) */
.card p {
    margin: 0;
    font-size: 18px;
    color: #555;
    padding-bottom: 5px;
    text-align: center;
}

/* Header for the card */
.card h4 {
    font-weight: bold;
    color: #202020;
    margin: 0;
    padding-bottom: 5px;
}

/* Header for the item */
.item h3 {
    font-weight: normal;
    font-size: 18px;
    color: #579ae1;
    text-align: left;
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    position: relative;
}

/* The blue underline under the header */
.item h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 55px;
    height: 3px;
    background-color: #579ae1;
}

/* Search bar and add claim container */
.barNbutton {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Search bar styling */
.search-bar {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 330px;
    margin-right: 10px;
    flex-shrink: 0;
}

/* Add Claim button styling */
.btn.addclaims {
    background-color: #126de4;
    font-size: 15px;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    min-width: 120px;
}

.btn.addclaims:hover {
    background-color: #1257b3;
}

/* Table styling */
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

/* Table header styling */
table th {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    height: 35px;
    background-color: #579ae1; /* Background color for the header row */
    color: white; /* Font color for the header row */
    border: 1px solid #ddd; /* Border for table header */
}

/* Table data styling */
table td {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd; /* Border for table data */
}

/* Style for the three dots button */
.options {
    display: none;
    background: transparent;
    border: none;
    color: #777777;
    font-size: 30px;
    cursor: pointer;
}

.action .options {
    display: inline-block;
}

.options:hover {
    color: #414040;
}

/* Options menu */
.options-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.options-menu button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.options-menu button:hover {
    background-color: #f0f0f0;
}

/* Modal Popup Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.popup-add {
    max-width: 800px;
    max-height: 80vh;
    width: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    overflow-y: auto;
}

.popup-add h3 {
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.popup-add p.notice {
    font-weight: bold;
    font-size: 11.5px;
    color: #f10b0b;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputPolicy {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: flex-start;
}

.required {
    color: red;
    font-weight: bold;
}

.section-title h4 {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input input,
.input textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    box-sizing: border-box;
}

.input textarea {
    resize: vertical;
    height: 80px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.gender-option label {
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 13px;
}

.radio-buttons {
    gap: 10px;
}

.radio-buttons label {
    display: flex;
    gap: 5px;
}

.button {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.popup-add button {
    padding: 10px 16px;
    background-color: #126de4;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-add button:hover {
    background-color: #1257b3;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #ffffff;
}

/* Responsiveness for small screen */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
    }

    .main-content {
        padding-left: 0;
    }

    .input-container {
        flex-direction: column;
    }

    .input-left,
    .input-right {
        width: 100%;
    }

    .inputPolicy {
        align-items: flex-start;
    }

    .section-title h3 {
        font-size: 18px;
    }
}